.todo__button--add-container {
  display: flex;
  justify-content: end;
  max-width: 500px;
  margin-inline: auto;
  margin-block-start: 3rem;
}

.todo__button--btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ff5959;
  border: none;
  box-shadow: -1px 3px 4px rgb(0 0 0 / 40%);
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  line-height: 70px;
}
