.todo__list--container {
  margin-block-start: 2rem;
}

.todo__list--container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  max-width: 500px;
  padding: 0;
  margin-inline: auto;
}
